
<div class="dynamic-graph__container">
<!-- График №1 -->
<div id="chartContainer1" class="dynamic-graph">
  <div class="dynamic-graph__content">
    <div id="noDataMessage1">Данные отсутствуют.</div>
    <canvas class="dynamic-graph__graph" #myChart1></canvas>
  </div>
  <div class="dynamic-graph__btns">
    <button class="dynamic-graph__btn" id="backwardBtn1">Назад</button>
    <button class="dynamic-graph__btn" id="forwardBtn1">Вперёд</button>
    <button class="dynamic-graph__btn" id="resetBtn1">Вернуться к текущим значениям</button>
    <button class="dynamic-graph__btn" id="toggleDataBtn1">Скрыть данные</button>
  </div>
</div>


<!-- График №2 -->
<div id="chartContainer1" class="dynamic-graph">
  <div class="dynamic-graph__content">
    <div id="noDataMessage1">Данные отсутствуют.</div>
    <canvas class="dynamic-graph__graph" #myChart2></canvas>
  </div>
  <div class="dynamic-graph__btns">
    <button class="dynamic-graph__btn" id="backwardBtn1">Назад</button>
    <button class="dynamic-graph__btn" id="forwardBtn1">Вперёд</button>
    <button class="dynamic-graph__btn" id="resetBtn1">Вернуться к текущим значениям</button>
    <button class="dynamic-graph__btn" id="toggleDataBtn1">Скрыть данные</button>
  </div>
</div>
</div>




