@use "../../../../styles/mixins" as mixins;
@use "../../../../styles/variables" as vars;

.dynamic-graph {
  position: relative;
  width: 100%;
  height: 450px;
  &__container {
    padding: 20px;
  }
  &__content {
    position: relative;
    height: 400px;
    max-height: 400px;
  }
  &__graph {
    height: 400px;
    cursor: pointer;
  }
  &__btns {
    margin-top: 20px;
    display: flex;
  }
  &__btn {
    margin-right: 10px;
    height: 27px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: green;
    border: 1px solid green;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  &__btn:hover {
    color: white;
    background-color: green;
  }
  &__btn:active {
    color: white;
    background-color: green;
  }
  &__btn:focus-visible {
    color: white;
    background-color: green;
    outline: none;
  }
}
