<div class="content">
  <div class="dynamic-report">
    <div class="dynamic-report__title-content">
      <h1 class="dynamic-report__title">Отчёт по энергоресурсам</h1>
      <div class="dynamic-report__date-range">
        <div class="dynamic-report__date-label">Выберите дату для просмотра архива отчета:</div>
        <div class="dynamic-report__date-div">
          <input class="dynamic-report__date-input" type="date" [value]="selectedDate" (change)="onDateChange($event)">
          <button class="dynamic-report__btn" (click)="loadDataForSelectedDate()">Принять</button>
        </div>
      </div>
    </div>

    <h3>Отчет за {{ selectedDate | date: 'longDate' }}</h3>

    <div class="dynamic-report__table">
      <div id="loadingWrapper" *ngIf="isLoading">
        <div id="loadingText">Загрузка данных, пожалуйста подождите...</div>
        <div id="loadingBar"></div>
      </div>
      <table class="dynamic-report__report-table" *ngIf="!isLoading">
        <thead>
          <tr>
            <th class="dynamic-report__report-header" rowspan="2">Время</th>
            <th class="dynamic-report__report-header" colspan="3">Расход пара, Гкал</th>
            <th class="dynamic-report__report-header" colspan="4">Генерация пара от к.265 и котлов утилизаторов к.10в1,
              Гкал</th>
          </tr>
          <tr>
            <th class="dynamic-report__report-header">МПА2</th>
            <th class="dynamic-report__report-header">МПА3</th>
            <th class="dynamic-report__report-header">МПА4</th>
            <th class="dynamic-report__report-header">К10В1</th>
            <th class="dynamic-report__report-header">К265</th>
            <th class="dynamic-report__report-header">Котел Утил. №1</th>
            <th class="dynamic-report__report-header">Котел Утил. №2</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeData of reportData">
            <td class="dynamic-report__report-cell">{{ timeData.time }}</td>
            <td class="dynamic-report__report-cell">{{ timeData.DE093 === '-' ? '-' : timeData.DE093 }}</td>
            <td class="dynamic-report__report-cell">{{ timeData.DD972 === '-' ? '-' : timeData.DD972 }}</td>
            <td class="dynamic-report__report-cell">{{ timeData.DD973 === '-' ? '-' : timeData.DD973 }}</td>
            <td class="dynamic-report__report-cell">{{ timeData.DD576 === '-' ? '-' : timeData.DD576 }}</td>
            <td class="dynamic-report__report-cell">{{ timeData.DD569 === '-' ? '-' : timeData.DD569 }}</td>
            <td class="dynamic-report__report-cell">{{ timeData.DD923 === '-' ? '-' : timeData.DD923 }}</td>
            <td class="dynamic-report__report-cell">{{ timeData.DD924 === '-' ? '-' : timeData.DD924 }}</td>
          </tr>
          <tr *ngIf="reportData.length === 0">
            <td colspan="8" style="text-align:center;">Нет данных за выбранную дату.</td>
          </tr>
          <tr *ngIf="reportData.length > 0">
            <td class="dynamic-report__report-cell" style="font-weight: bold; background-color: green; color: white;">
              Итого</td>
            <td *ngFor="let total of calculateTotals() | keyvalue" class="dynamic-report__report-cell"
              style="background-color: yellow;">
              {{ total.value.toFixed(2) }}
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
    </div>
  </div>
</div>
