.current-param {
  margin-right: 15px;
  background: linear-gradient(135deg, rgba(0,100,0,0.85), rgba(144,238,144,0.85));
  border: 2px solid rgba(0,77,0,0.85);

  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-bottom: 0;
    text-align: center;
    font-family: "Bitter", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: white;
  }
  &__title-span {
    font-family: "Bitter", sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    color: black;
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__date {
    margin-right: 20px;
    font-family: "Bitter", sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    color: black;
  }
  &__time {
    font-family: "Bitter", sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    color: black;
  }
  &__subtitle {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Bitter', sans-serif;
    font-size: 20px;
    line-height: 29px;
    font-weight: 600;
    color: black;
  }
  &__subtitle-span {
    margin-left: 15px;
    font-family: 'Bitter', sans-serif;
    font-size: 20px;
    line-height: 29px;
    font-weight: 600;
    color: blue;
  }
}
