<div class="lab-data-table" *ngIf="labData && !isLoading" @fadeIn>
  <table class="table">
    <thead class="table__thead">
      <tr class="table__tr">
        <th class="table__th">Наименование</th>
        <th class="table__th">Значение</th>
        <th class="table__th">Дата</th>
        <th class="table__th">Время</th>
      </tr>
    </thead>
    <tbody class="table__tbody">
      <tr class="table__tr">
        <td class="table__td table__right">Летучие в-ва, %</td>
        <td class="table__td table__right">{{ labData.value }}</td>
        <td class="table__td table__right">{{ labData.valueDate }}</td>
        <td class="table__td table__right">{{ labData.valueTime }}</td>
      </tr>
      <tr class="table__tr">
        <td class="table__td table__right">pH</td>
        <td class="table__td table__right">{{ labData.valuePH }}</td>
        <td class="table__td table__right">{{ labData.valuePHDate }}</td>
        <td class="table__td table__right">{{ labData.valuePHTime }}</td>
      </tr>
      <tr class="table__tr">
        <td class="table__td table__right">Суммарка</td>
        <td class="table__td table__right">{{ labData.valueSUM }}</td>
        <td class="table__td table__right">{{ labData.valueSUMDate }}</td>
        <td class="table__td table__right">{{ labData.valueSUMTime }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="loader" *ngIf="isLoading">
  <app-loader [width]="'50px'" [height]="'50px'" [loadingText]="'Загрузка, подождите...'"
    [textColor]="'blue'">
  </app-loader>
</div>
