<div class="alarm__table-container" *ngIf="alarms$ | async as alarms">
  <table class="alarm__table">
    <thead class="alarm__table-head">
      <tr class="alarm__table-row">
        <th class="alarm__table-header">Наименование</th>
        <th class="alarm__table-header">Знач.</th>
        <th class="alarm__table-header">Причины</th>
      </tr>
    </thead>
    <tbody class="alarm__table-body" *ngIf="alarms.length > 0; else noAlarms">
      <tr class="alarm__table-row" *ngFor="let alarm of alarms">
        <td
          class="alarm__table-cell blink-warning"
          [style.animationDelay]="getAnimationDelay()"
        >
          {{ alarm.key }}, {{ alarm.unit }}
        </td>
        <td
          class="alarm__table-cell blink-warning"
          [style.animationDelay]="getAnimationDelay()"
        >
          {{ alarm.value }}
        </td>
        <td class="alarm__table-cell">
          <button
          class="alarm-btn btn-reset"
          (click)="openAlarmModal(alarm)"
          [disabled]="!hasAlarmConfig(alarm)"
        >
          <mat-icon>info_outline</mat-icon>
        </button>
        </td>
      </tr>
    </tbody>
    <ng-template #noAlarms>
      <tbody class="no-alarms">
        <tr>
          <td colspan="3">Все параметры в норме.</td>
        </tr>
      </tbody>
    </ng-template>
  </table>
</div>
