<div class="graph-general">
  <div class="graph-general__container">

    <!-- Кнопки для выбора временного диапазона -->
    <div class="graph-general__btns">
      <app-control-button [isActive]="activeButton === 10" (onClick)="setTimeRange(10)">
        10 минут
      </app-control-button>
      <app-control-button [isActive]="activeButton === 30" (onClick)="setTimeRange(30)">
        30 минут
      </app-control-button>
    </div>

    <!-- График для сушилки 1 -->
    <div class="graph-general__content">
      <app-universal-graph
        [apiUrl]="'http://localhost:3002/api/' + sushilka1Id + '/data'"
        [parameterNames]="['Температура в топке', 'Температура в камере смешения', 'Температура уходящих газов']"
        [dataKey]="'temperatures'"
        [yAxisTitle]="'Температуры, градусы'"
        [title]="'Сушилка №' + sushilka1Number + ': Температура'"
        [yAxisRange]="{ min: 0, max: 600 }"
        [sushilkaId]="sushilka1Id"
        [timeRange]="timeRange"
      ></app-universal-graph>
    </div>

    <!-- График для сушилки 2 -->
    <div class="graph-general__content">
      <app-universal-graph
        [apiUrl]="'http://localhost:3002/api/' + sushilka2Id + '/data'"
        [parameterNames]="['Температура в топке', 'Температура в камере смешения', 'Температура уходящих газов']"
        [dataKey]="'temperatures'"
        [yAxisTitle]="'Температуры, градусы'"
        [title]="'Сушилка №' + sushilka2Number + ': Температура'"
        [yAxisRange]="{ min: 0, max: 600 }"
        [sushilkaId]="sushilka2Id"
        [timeRange]="timeRange"
      ></app-universal-graph>
    </div>

  </div>
</div>
