<div class="home">
  <div class="home__container">
    <mat-tab-group class="home__tab-group" (selectedTabChange)="selectedSushilkaId = $event.tab.textLabel">
      <mat-tab *ngFor="let object of objectData" class="home__tab">
        <ng-template mat-tab-label>
          <button mat-button class="home__tab-button btn-reset">{{ object.name }}</button>
        </ng-template>
        <div class="home__button-group">
          <app-control-button class="home__button"
            [isActive]="activeView === 'parameters' && selectedSushilkaId === object.id"
            (onClick)="showParameters(object.id)">
            Текущие параметры
          </app-control-button>
          <app-control-button class="home__button"
            [isActive]="activeView === 'mnemo' && selectedSushilkaId === object.id" (onClick)="showMnemo(object.id)">
            Мнемосхема
          </app-control-button>
        </div>
        <div *ngIf="activeView === 'parameters' && selectedSushilkaId === object.id" class="home__sushilka">
          <app-sushilka [id]="object.id"></app-sushilka>
        </div>
        <div *ngIf="activeView === 'mnemo' && selectedSushilkaId === object.id" class="home__mnemo">
          <app-sushilka-mnemo [id]="object.id"></app-sushilka-mnemo>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>