<div class="dynamic-graph__container">
  <div id="chartContainer" class="dynamic-graph">
    <div class="dynamic-graph__content">
      <canvas class="dynamic-graph__graph" #canvas></canvas>
    </div>
    <div class="dynamic-graph__btns">
      <app-control-button (click)="goBack()">
        Назад
      </app-control-button>
      <app-control-button (click)="goForward()">
        Вперёд
      </app-control-button>
      <app-control-button (click)="resetToCurrentTime()">
        Вернуться к текущим значениям
      </app-control-button>
      <app-control-button (click)="toggleLinesVisibility()">
        Скрыть/Показать все
      </app-control-button>
    </div>
  </div>
    </div>
