<div class="dynamic-graph__container">
  <div id="chartContainer" class="dynamic-graph">
    <div class="dynamic-graph__content">
      <canvas class="dynamic-graph__graph" #canvas></canvas>
    </div>
    <div class="dynamic-graph__btns">
      <button class="dynamic-graph__btn" (click)="goBack()">Назад</button>
      <button class="dynamic-graph__btn" (click)="goForward()">Вперёд</button>
      <button class="dynamic-graph__btn" (click)="resetToCurrentTime()">Вернуться к текущим значениям</button>
      <button class="dynamic-graph__btn" (click)="toggleLinesVisibility()">
        Скрыть/Показать все
      </button>
    </div>
  </div>
</div>