@use "../../../../styles/mixins" as mixins;
@use "../../../../styles/variables" as vars;

.energy-resources-current {
  max-width: 900px;
}

.tables {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table {
  margin-top: 30px;
  margin-right: 15px;
  width: 100%;
  max-width: 900px;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 5px;
  background-color: vars.$coconut-white;
  box-shadow: 0 0 5px 0 vars.$black;
  &__title {
    margin-bottom: 10px;
    text-align: center;
    font-family: "Bitter", sans-serif;
    @include mixins.text-style(18px, 24px, 700, vars.$hulk);
  }
  &__tr {
    height: 30px;
    border: 1px solid vars.$black;
  }
  &__th {
    text-align: center;
    font-family: "Bitter", sans-serif;
    @include mixins.text-style(18px, 18px, 600, vars.$black);
  }
  &__td {
    letter-spacing: 1px;
    text-align: center;
    font-family: "Bitter", sans-serif;
    @include mixins.text-style(16px, 16px, 500, vars.$black);
  }
  &__left {
    padding: 10px;
    padding-left: 30px;
    text-align: left;
    max-width: 200px;
  }
  &__right {
    color: vars.$hulk;
    font-weight: 600;
  }
  &__th:not(:last-child),
  &__td:not(:last-child) {
    border-right: 1px solid vars.$black;
  }
}
