<app-loader
  *ngIf="isLoading"
  [delay]="2000"
  [loadingText]="'Подождите, идет загрузка данных...'"
  (loadingComplete)="onLoadingComplete()"
></app-loader>

<div
  class="mnemo-container"
  *ngIf="!isLoading"
  [@fadeIn]="isImageLoaded ? '*' : 'void'"
>
  <app-header-current-params
    [title]="'МПА №' + id.replace('mpa', '')"
  ></app-header-current-params>

  <div class="mnemo">
    <div class="mnemo__param-box--btns">
      <app-control-button
        [isActive]="isTooltipsEnabled"
        (onClick)="toggleTooltips()"
      >
        {{
          isTooltipsEnabled
            ? "Выкл. всплывающие подсказки"
            : "Вкл. всплывающие подсказки"
        }}
      </app-control-button>

      <app-control-button (onClick)="openDocumentation()">
        Документация объекта
      </app-control-button>
    </div>

    <img class="mnemo__img" src="/img/pech-mpa.jpg" (load)="onImageLoad()" />

    <div class="mnemo__gif mnemo__gif-2">
      <img src="/img/ventilator.png" alt="img" />
    </div>

    <div class="mnemo__param-descr regenerator-text">Регенератор</div>
    <div class="mnemo__param-descr dym-borov-text">Дымовой боров</div>

    <div class="mnemo__param-box vr">
      <div class="mnemo__param-box-vr">
        <div class="mnemo__param-descr mnemo__param-descr-left">ВРЛ</div>
        <div class="mnemo__param mnemo__param-val vrl-t">
          <span class="mnemo__param-text vrl-t-val">
            {{ data?.temperatures?.[getDynamicKey('Температура верх регенератора левый')] || '—' }}
            °C
          </span>
        </div>
        <div class="mnemo__param-descr mnemo__param-descr-borov">Боров 13</div>
      </div>
      <div class="mnemo__param-box-vr">
        <div class="mnemo__param-descr mnemo__param-descr-right">ВРП</div>
        <div class="mnemo__param mnemo__param-val vrp-t brd-transparent">
          <span class="mnemo__param-text vrp-t-val">
            {{ data?.temperatures?.[getDynamicKey('Температура верх регенератора правый')] || '—' }}
            °C
          </span>
        </div>
        <div class="mnemo__param-descr mnemo__param-descr-borov">Боров 14</div>
      </div>
    </div>

    <div class="mnemo__param-box vd">
      <div class="mnemo__param-descr mnemo__param-descr-borov">Боров 9</div>
      <div class="mnemo__param-flex">
        <div class="mnemo__param-descr mnemo__param-descr-left">ВДЛ</div>
        <div class="mnemo__param mnemo__param-val">
          <span class="mnemo__param-text vdl-t-val">
            {{ data?.temperatures?.[getDynamicKey('Температура верх дальний левый')] || '—' }}
            °C
          </span>
        </div>
        <div class="mnemo__param mnemo__param-val-p brd-transparent">
          <span class="mnemo__param-text vdl-p-val">
            {{ data?.pressures?.[getDynamicKey('Давление верх дальний левый')] || '—' }}
            кг/м2
          </span>
        </div>
      </div>
      <div class="mnemo__param-descr mnemo__param-descr-borov">Боров 10</div>
      <div class="mnemo__param-flex">
        <div class="mnemo__param-descr mnemo__param-descr-right">ВДП</div>
        <div class="mnemo__param mnemo__param-val">
          <span class="mnemo__param-text vdp-t-val">
            {{ data?.temperatures?.[getDynamicKey('Температура верх дальний правый')] || '—' }}
            °C
          </span>
        </div>
        <div class="mnemo__param mnemo__param-val-p brd-transparent">
          <span class="mnemo__param-text vdp-p-val">
            {{ data?.pressures?.[getDynamicKey('Давление верх дальний правый')] || '—' }}
            кг/м2
          </span>
        </div>
      </div>
    </div>

    <div class="mnemo__param-box vb">
      <div class="mnemo__param-descr mnemo__param-descr-borov">Боров 11</div>
      <div class="mnemo__param-flex">
        <div class="mnemo__param-descr mnemo__param-descr-left">ВБЛ</div>
        <div class="mnemo__param mnemo__param-val">
          <span class="mnemo__param-text vbl-t-val">
            {{ data?.temperatures?.[getDynamicKey('Температура верх ближний левый')] || '—' }}
            °C
          </span>
        </div>
      </div>

      <div class="mnemo__param-descr mnemo__param-descr-borov">Боров 12</div>
      <div class="mnemo__param-flex">
        <div class="mnemo__param-descr mnemo__param-descr-right">ВБП</div>
        <div class="mnemo__param mnemo__param-val">
          <span class="mnemo__param-text vbp-t-val">
            {{ data?.temperatures?.[getDynamicKey('Температура верх ближний правый')] || '—' }}
            °C
          </span>
        </div>
      </div>
    </div>

    <div class="mnemo__param-box sd">
      <div class="mnemo__param-descr mnemo__param-descr-borov">Боров 5</div>
      <div class="mnemo__param-flex">
        <div class="mnemo__param-descr mnemo__param-descr-left">СДЛ</div>
        <div class="mnemo__param mnemo__param-val">
          <span class="mnemo__param-text sdl-t-val">
            {{ data?.temperatures?.[getDynamicKey('Температура середина дальняя левый')] || '—' }}
            °C
          </span>
        </div>
        <div class="mnemo__param mnemo__param-val-p brd-transparent">
          <span class="mnemo__param-text sdl-p-val">
            {{ data?.pressures?.[getDynamicKey('Давление середина дальняя левый')] || '—' }}
            кг/м2
          </span>
        </div>
      </div>
      <div class="mnemo__param-descr mnemo__param-descr-borov">Боров 6</div>
      <div class="mnemo__param-flex">
        <div class="mnemo__param-descr mnemo__param-descr-right">СДП</div>
        <div class="mnemo__param mnemo__param-val">
          <span class="mnemo__param-text sdp-t-val">
            {{ data?.temperatures?.[getDynamicKey('Температура середина дальняя правый')] || '—' }}
            °C
          </span>
        </div>
        <div class="mnemo__param mnemo__param-val-p brd-transparent">
          <span class="mnemo__param-text sdp-p-val">
            {{ data?.pressures?.[getDynamicKey('Давление середина дальняя правый')] || '—' }}
            кг/м2
          </span>
        </div>
      </div>
    </div>

    <div class="mnemo__param-box sb">
      <div class="mnemo__param-descr mnemo__param-descr-borov">Боров 7</div>
      <div class="mnemo__param-flex">
        <div class="mnemo__param-descr mnemo__param-descr-left">СБЛ</div>
        <div class="mnemo__param mnemo__param-val">
          <span class="mnemo__param-text sbl-t-val">
            {{ data?.temperatures?.[getDynamicKey('Температура середина ближняя левый')] || '—' }}
            °C
          </span>
        </div>
        <div class="mnemo__param mnemo__param-val-p brd-transparent">
          <span class="mnemo__param-text sbl-p-val">
            {{ data?.pressures?.[getDynamicKey('Давление середина ближняя левый')] || '—' }}
            кг/м2
          </span>
        </div>
      </div>
      <div class="mnemo__param-descr mnemo__param-descr-borov">Боров 8</div>
      <div class="mnemo__param-flex">
        <div class="mnemo__param-descr mnemo__param-descr-right">СБП</div>
        <div class="mnemo__param mnemo__param-val">
          <span class="mnemo__param-text sbp-t-val">
            {{ data?.temperatures?.[getDynamicKey('Температура середина ближняя правый')] || '—' }}
            °C
          </span>
        </div>
        <div class="mnemo__param mnemo__param-val-p brd-transparent">
          <span class="mnemo__param-text sbp-p-val">
            {{ data?.pressures?.[getDynamicKey('Давление середина ближняя правый')] || '—' }}
            кг/м2
          </span>
        </div>
      </div>
    </div>

    <div class="mnemo__param-box nd">
      <div class="mnemo__param-descr mnemo__param-descr-borov">Боров 1</div>
      <div class="mnemo__param-flex">
        <div class="mnemo__param-descr mnemo__param-descr-left">НДЛ</div>
        <div class="mnemo__param mnemo__param-val">
          <span class="mnemo__param-text ndl-t-val">
            {{ data?.temperatures?.[getDynamicKey('Температура низ дальний левый')] || '—' }}
            °C
          </span>
        </div>
      </div>
      <div class="mnemo__param-descr mnemo__param-descr-borov">Боров 2</div>
      <div class="mnemo__param-flex">
        <div class="mnemo__param-descr mnemo__param-descr-right">НДП</div>
        <div class="mnemo__param mnemo__param-val">
          <span class="mnemo__param-text ndp-t-val">
            {{ data?.temperatures?.[getDynamicKey('Температура низ дальний правый')] || '—' }}
            °C
          </span>
        </div>
      </div>
    </div>

    <div class="mnemo__param-box nb">
      <div class="mnemo__param-descr mnemo__param-descr-borov">Боров 3</div>
      <div class="mnemo__param-flex">
        <div class="mnemo__param-descr mnemo__param-descr-left">НБЛ</div>
        <div class="mnemo__param mnemo__param-val">
          <span class="mnemo__param-text nbl-t-val">
            {{ data?.temperatures?.[getDynamicKey('Температура низ ближний левый')] || '—' }}
            °C
          </span>

        </div>
        <div class="mnemo__param mnemo__param-val-p brd-transparent">
          <span class="mnemo__param-text nbl-p-val">

          </span>
        </div>
      </div>
      <div class="mnemo__param-descr mnemo__param-descr-borov">Боров 4</div>
      <div class="mnemo__param-flex">
        <div class="mnemo__param-descr mnemo__param-descr-right">НБП</div>
        <div class="mnemo__param mnemo__param-val">
          <span class="mnemo__param-text nbp-t-val">
            {{ data?.temperatures?.[getDynamicKey('Температура низ ближний правый')] || '—' }}
            °C
          </span>

        </div>
        <div class="mnemo__param mnemo__param-val-p brd-transparent">
          <span class="mnemo__param-text nbp-p-val"> </span>
          <span class="mnemo__param-naimenov">кг/м2</span>
        </div>
      </div>
    </div>

    <div class="mnemo__param-box db">
      <div class="mnemo__param-box-db">
        <div class="mnemo__param-descr mnemo__param-descr-right">ДБ</div>
        <div class="mnemo__param mnemo__param-val vrl-t brd-bottom-transparent">
          <span class="mnemo__param-text db-t-val"> </span>
          <span class="mnemo__param-naimenov"></span>
        </div>
        <div class="mnemo__param mnemo__param-val-vozduh">
          <span class="mnemo__param-text db-p-val"> </span>
          <span class="mnemo__param-naimenov">кгс/м2</span>
        </div>
      </div>
    </div>

    <div class="mnemo__param-box ks">
      <div class="mnemo__param-descr mnemo__param-descr-right">КС</div>
      <div class="mnemo__param mnemo__param-val vrl-t">
        <span class="mnemo__param-text ks-t-val"> </span>
        <span class="mnemo__param-naimenov"></span>
      </div>
    </div>

    <div class="mnemo__param-box vozduh-left">
      <div class="mnemo__param-box-vozduh-left">
        <div class="mnemo__param-descr mnemo__param-descr-vozduh">
          Воздух левый
        </div>
        <div class="mnemo__param mnemo__param-val-vozduh">
          <span class="mnemo__param-text vozduh-left-val"> </span>
          <span class="mnemo__param-naimenov">кгс/м2</span>
        </div>
      </div>
    </div>

    <div class="mnemo__param-box vozduh-right">
      <div class="mnemo__param-box-vozduh-right">
        <div class="mnemo__param-descr mnemo__param-descr-vozduh">
          Воздух правый
        </div>
        <div class="mnemo__param mnemo__param-val-vozduh">
          <span class="mnemo__param-text vozduh-right-val"> </span>
          <span class="mnemo__param-naimenov">кгс/м2</span>
        </div>
      </div>
    </div>

    <table class="table table-mpa">
      <caption class="table__title">
        Потребление пара
      </caption>
      <thead class="table__thead">
        <tr class="table__tr">
          <th class="table__th table__left">Параметры</th>
          <th class="table__th">МПА-1</th>
          <th class="table__th">МПА-2</th>
          <th class="table__th">МПА-3</th>
          <th class="table__th">МПА-4</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table__tr">
          <td class="table__td table__left">Типоразмер</td>
          <td class="table__td table__right">Dy80</td>
          <td class="table__td table__right">Dy80</td>
          <td class="table__td table__right">Dy80</td>
          <td class="table__td table__right">Dy80</td>
        </tr>
        <tr class="table__tr">
          <td class="table__td table__left">Теплота, Гкал/час</td>
          <td class="table__td table__right"></td>
          <td class="table__td table__right heat-de093"></td>
          <td class="table__td table__right heat-dd972"></td>
          <td class="table__td table__right heat-dd973"></td>
        </tr>
        <tr class="table__tr">
          <td class="table__td table__left">Объем, м3/час</td>
          <td class="table__td table__right"></td>
          <td class="table__td table__right volume-de093"></td>
          <td class="table__td table__right volume-dd972"></td>
          <td class="table__td table__right volume-dd973"></td>
        </tr>
        <tr class="table__tr">
          <td class="table__td table__left">Масса, т/час</td>
          <td class="table__td table__right"></td>
          <td class="table__td table__right mass-de093"></td>
          <td class="table__td table__right mass-dd972"></td>
          <td class="table__td table__right mass-dd973"></td>
        </tr>
        <tr class="table__tr">
          <td class="table__td table__left">Давление, МПа</td>
          <td class="table__td table__right"></td>
          <td class="table__td table__right pressure-de093"></td>
          <td class="table__td table__right pressure-dd972"></td>
          <td class="table__td table__right pressure-dd973"></td>
        </tr>
        <tr class="table__tr">
          <td class="table__td table__left">Температура,</td>
          <td class="table__td table__right"></td>
          <td class="table__td table__right temperature-de093"></td>
          <td class="table__td table__right temperature-dd972"></td>
          <td class="table__td table__right temperature-dd973"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
